.name {
  color: var(--dark);
  font-size: 28px;
  display: block;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.name:hover {
  cursor: pointer;
  color: var(--primary);
}

.link {
  font-size: 30px;
  color: var(--primary) !important;
  text-decoration: none !important;
  transition: 0.3s all ease-in-out;
}

.link:hover {
  color: var(--dark) !important;
  transition: 0.3s all ease-in-out;
}
