:root {
  --primary: #f68a3c;
  --primary-hover: #fa6e0a;
  --secondary: rgb(211, 211, 211);
  --secondary-500: rgba(211, 211, 211, 0.5);
  --danger: #dc3545;
  --danger-hover: #a52734;
  --dark: #1f1f1f;
  --dark-bg: #333333;
  --light: #fff;
  --light-bg: #444444;
  --border: #4d4d4d;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  border-radius: 0 !important;
}

select.form-select option:hover {
  background-color: var(--primary) !important;
}


.bg_dark {
  background-color: var(--dark) !important;
}
.bg_dark_bg {
  background-color: var(--dark-bg) !important;
}

#user .dropdown-menu.show {
  background: var(--dark-bg) !important;
}

/* .pnlm-hotspot-base.pnlm-hotspot.pnlm-sprite.pnlm-info.pnlm-tooltip {
  background: var(--danger) !important;
  width: 20px !important;
  height: 20px !important;
} */

/* img,
svg {
  vertical-align: text-top !important;
} */

.text_primary {
  color: var(--primary) !important;
}
